@page
@model Nursery.Areas.Admin.Pages.Advertisements.DeleteModel
@{
}



<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Delete"]  @sharedResource["Adz"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="text-danger DeleteValidation ">@Html.ValidationMessage("DeleteValidation") </div>

                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4>@sharedResource["Informations"] </h4>
                                    <hr />

                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["Type"] </div>
                                        <div> @Model.adz.EntityType.EntityTypeTlar </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Name"]  </div>
                                        <div> @Model.EntityName </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Country"]  </div>
                                        <div> @Model.adz.Country.CountryTlAr </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Sort"]  </div>
                                        <div> @Model.adz.AdzOrderIndex </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["IsActive"]  </div>
                                        @Html.CheckBoxFor(m => m.adz.AdzIsActive.Value, new { @disabled = "disabled" })

                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Picture"]  </div>
                                        <div class="Details_img">
                                            <img style="border-radius: 13%;" class="img-fluid" src="~/Images/Adz/@Model.adz.AdzPic" />
                                        </div>
                                    </div>
                                </div>


                            <form method="post" asp-route-id="@Model.adz.AdzId">
                                <input type="submit" value="@sharedResource["Delete"]" class="btn btn-danger "/>
                          @*      <div class="invers">
                                    <a href="javascript:;" class="btn btn-danger js-delete" data-id="@Model.adz.AdzId">
                                        <i class="bi bi-trash"></i>
                                        @sharedResource["Delete"]
                                    </a>
                                </div>*@
                            </form>
                        </div>
                       

                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <script>
        $(document).ready(function () {
            $('.js-delete').on('click', function () {
                var btn = $(this);


                //Confirm Delete
                bootbox.confirm({
                    message: "Are you sure that you need to delete this Advertising?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-danger'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-outline-secondary'
                        }
                    },
                    callback: function (result) {
                        if (result) {


                            $.ajax({
                                type: 'POST',
                                url: '/Delete/DeleteAdz?id=' + btn.data('id'),
                                success: function (result) {
                                    if (result == 0) {
                                        toastr.error('Advertising Not Found');

                                    } if (result == 1) {
                                        toastr.success('Advertising deleted');

                                    }
                                    if (result == -1) {
                                        toastr.error('Something went wrong!');
                                    }

                                },
                                error: function () {
                                    toastr.error('Something went wrong!');

                                }
                            });
                            window.location.href = '/Admin/Advertisements'
                        }
                    }
                });
            });
        });
    </script>
