@page
@model Nursery.Areas.Admin.Pages.Countries.DeleteModel
@{
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Delete"]  @sharedResource["Country"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="text-danger DeleteValidation ">@Html.ValidationMessage("DeleteValidation") </div>

                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4>@sharedResource["Informations"] </h4>
                                    <hr />

                                    <div class="d-flex justify-content-between">
                                        <div> @sharedResource["TlAr"] </div>
                                        <div> @Model.country.CountryTlAr </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["TlEn"]  </div>
                                        <div> @Model.country.CountryTlEn </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["IsActive"]  </div>

                                        @Html.CheckBoxFor(m => m.country.CountryIsActive.Value, new { @disabled = "disabled" })
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Sort"]  </div>
                                        <div> @Model.country.CountryOrderIndex </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div>@sharedResource["Picture"]  </div>
                                        <div class="Details_img">
                                            <img style="border-radius: 13%;" class="img-fluid" src="~/Images/Country/@Model.country.CountryPic" />
                                        </div>
                                    </div>
                                </div>

                                <form method="post">
                                    <div class="invers">
                                        @(Html.DevExtreme().Button()
                    .ID("button")
                    .Text(sharedResource["Delete"])
                    .Type(ButtonType.Danger)
                    .UseSubmitBehavior(true)

                    )
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
