@page
@model Nursery.Areas.Admin.Pages.Users.NurseryDetailsModel
@{
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title"> @sharedResource["NurseryDetails"]  </h2>
                        <div class="col-md-12 invers">
                            <a asp-page="NurseryList" class="btn btn-primary"> @sharedResource["Back"]</a>
                            <br />
                        </div>
                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Nursery"] </h4>
                                    <hr />
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["NameEn"]  </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.NurseryTlEn</dd>
                                    </dl>
                                </div>
                                    
                                  <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["NameAr"] </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.NurseryTlAr</dd>
                                    </dl>
                                </div>
                                    
                                   
                                  <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Arabic Description"]  </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.NurseryDescAr</dd>
                                    </dl>
                                </div>

                                 <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["English Description"]  </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.NurseryDescEn</dd>
                                    </dl>
                                </div>
                                    
                                        <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["WorkTimeFrom"]  </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.WorkTimeFrom</dd>
                                    </dl>
                                </div>
                                
                                       <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["WorkTimeTo"]  </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.WorkTimeTo</dd>
                                    </dl>
                                </div>
                                    
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Special Needs"]   </dt>
                                            @if (@Model.nurseryDetails.SpecialNeeds==true)
                                            {
                                                <dd class="col-sm-8">@sharedResource["There is Special Needs"] </dd>
                                            }
                                            else
                                            {
                                                 <dd class="col-sm-8"> @sharedResource["There is no Special Needs"]</dd>
                                            }
                                           
                                    </dl>
                                </div>
                                  
                                 <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Transportation Service"]   </dt>
                                            @if (@Model.nurseryDetails.TransportationService==true)
                                            {
                                                <dd class="col-sm-8">@sharedResource["There is Transportation Service"] </dd>
                                            }
                                            else
                                            {
                                                 <dd class="col-sm-8"> @sharedResource["There is no Transportation Service"]</dd>
                                            }
                                           
                                    </dl>
                                </div>

                                </div>

                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["ContactsInfo"] </h4>
                                    <hr />
                                         <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Phone"]  </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.Phone1</dd>
                                    </dl>
                                </div>
                                    
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Mobile"] </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.Mobile</dd>
                                    </dl>
                                </div>
                               
                                 <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Fax"] </dt>
                                        <dd class="col-sm-8">  @Model.nurseryDetails.Fax</dd>
                                    </dl>
                                </div>
                               
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Email"]</dt>
                                        <dd class="col-sm-8">  @Model.nurseryDetails.Email</dd>
                                    </dl>
                                </div>
                                    
                                 <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Facebook"] </dt>
                                        <dd class="col-sm-8">  @Model.nurseryDetails.Facebook</dd>
                                    </dl>
                                </div>
                                   
                                  <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Instagram"] </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.Instagram</dd>
                                    </dl>
                                </div>
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Twitter"] </dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.Twitter</dd>
                                    </dl>
                                </div>
                                  
                                </div>
                            </div> 
                           @* <div class="row">
                                @{
                                    if (Model.nurseryDetails.PaymentMethodId != 0)
                                    {
                                         <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Payment_Information"]  </h4>
                                    <hr />
                                    
                                   
                                        <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["NameAr"]  </dt>
                                        <dd class="col-sm-8"> @Model.paymentMethod.PaymentMethodTlAr</dd>
                                    </dl>
                                </div>
                                    <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["NameEn"]  </dt>
                                        <dd class="col-sm-8"> @Model.paymentMethod.PaymentMethodTlEn</dd>
                                    </dl>
                                </div>
                                  

                                </div>
                                    }
                                }
                                @{
                                    if (Model.nurseryDetails.AgeCategoryId != null)
                                    {
                                 <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["AgeCategory"]  </h4>
                                    <hr />
                                      <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["NameAr"] </dt>
                                        <dd class="col-sm-8"> @Model.ageCategory.AgeCategoryTlAr</dd>
                                    </dl>
                                </div>
                                  
                                    <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["NameEn"]</dt>
                                        <dd class="col-sm-8"> @Model.ageCategory.AgeCategoryTlEn</dd>
                                    </dl>
                                </div>
           
                                </div>
                                   }
                                }

                            </div> *@
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Address"] </h4>
                                    <hr />
                                      
                                    <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Address"]</dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.Address </dd>
                                    </dl>
                                </div>
                                   
                                  @*  <div class="customer_info_container d-flex justify-content-between">
                                        <div> @sharedResource["Country"]  </div>
                                        <div> @Model.areaDetails.City.Country.CountryTlAr </div>
                                    </div>
                                    <div class="customer_info_container d-flex justify-content-between">
                                        <div> @sharedResource["City"]</div>
                                        <div> @Model.areaDetails.City.CityTlAr </div>
                                    </div>
                                    <div class="customer_info_container d-flex justify-content-between">
                                        <div> @sharedResource["Area"]  </div>
                                        <div> @Model.areaDetails.AreaTlAr </div>
                                    </div>*@
                                     @{
                                        if (Model.country != null)
                                        {
                                                <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Country"]</dt>
                                        <dd class="col-sm-8"> @Model.country.CountryTlEn </dd>
                                    </dl>
                                </div>
                                         
                                        }
                                    }
                                   @{
                                        if (Model.city != null)
                                        {
                                              <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["City"]</dt>
                                        <dd class="col-sm-8"> @Model.city.CityTlEn </dd>
                                    </dl>
                                </div>
                                    
                                         }
                                    }
                                     @{
                                        if (Model.areaDetails!= null)
                                        {
                                                      <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Area"]</dt>
                                        <dd class="col-sm-8"> @Model.areaDetails.AreaTlEn </dd>
                                    </dl>
                                </div>
                                   
                                          }
                                    }
                                </div>
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["OtherIfo"] </h4>
                                    <hr />
                                    <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["AvailableSeats"]</dt>
                                        <dd class="col-sm-8"> @Model.nurseryDetails.AvailableSeats </dd>
                                    </dl>
                                </div>
                                  

                                       <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                         <dt class="col-sm-4">@sharedResource["IS Active"]</dt>
                                       
                                        @{

                                            if (Model.nurseryDetails.NurserySubscription.Count() !=0&&Model.nurseryDetails.NurserySubscription.OrderByDescending(e=>e.NurserySubscriptionId).FirstOrDefault().IsActive)
                                            {
                                                 <dd class="col-sm-8"> @sharedResource["IS Active"] </dd>
                                               
                                            }
                                            else
                                            {
                                                 <dd class="col-sm-8"> @sharedResource["Not Active"] </dd>
                                                
                                            }
                                        }
                                      </dl>
                                </div>
                                          <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                         <dt class="col-sm-4">@sharedResource["Is Slider"]</dt>
                           
                                        @{
                                            //if (Model.nurseryDetails.IsSlider==true)
                                            //{
                                            //     <dd class="col-sm-8"> @sharedResource["Is Slider"] </dd>
                                               
                                            //}
                                            //else
                                            //{
                                            //     <dd class="col-sm-8"> @sharedResource["Not Slider"] </dd>
                                               
                                            //}
                                        }
                                     </dl>
                                </div>
                                 <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Banner"]</dt>
                                        <dd class="col-sm-8">  <img style="border-radius: 13%; height: 150px;width: 150px;" class="img-fluid" src="/Images/NurseryMember/@Model.nurseryDetails.Banner" /> </dd>
                                    </dl>
                                </div>
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Logo"] </dt>
                                        <dd class="col-sm-8">  <img style="border-radius: 13%;height: 150px;width: 150px;"  class="img-fluid" src="/Images/NurseryMember/@Model.nurseryDetails.Logo" />
                                     </dd>
                                    </dl>
                                </div>
                   
                                    </div>
                                     
                                    </div>
                                  
                                </div>
                             <form method="post" asp-route-id="@Model.nurseryDetails.NurseryMemberId" enctype="multipart/form-data">

                                 @{
                                if (Model.nurseryDetails.NurserySubscription.Count() !=0 &&Model.nurseryDetails.NurserySubscription.OrderByDescending(e=>e.NurserySubscriptionId).FirstOrDefault().IsActive  && (Model.nurseryDetails.IsSlider==false))
                                {

                                    <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Set as Banner"] </h4>
                                    <hr />
                                    <div class="customer_info_container d-flex justify-content-between">
                               
                                    <input type="checkbox"  asp-for="@Model.nurseryDetails.IsSlider"  class="btn btn-primary">
                                     
                                    </div>
                                   </div>
                               </div>
                                }
                            }
                                        <div class="col-md-12 col-lg-6 mt-4">
                                            <h4> @sharedResource["IsActive"]  </h4>
                                            <hr />
                                           
                                            <div class="customer_info_container d-flex justify-content-between " >
                                                <input type="checkbox"  asp-for="@Model.nurseryDetails.IsActive" />
                                            </div>
                                            <br />
                                                <input type="Submit" class="btn-primary btn-lg" value="@sharedResource["Save"] "  />

                                        </div>
                        </form>
                        
                            
                             

                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
<style>
    .product_container {
        background-color: #4b49ac;
        padding: 14px;
        height: 300px;
    }

    .product_img_container {
        width: 151px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 9px;
    }

    .product_nurseryDetails_details {
        color: white
    }
</style>
