@page
@model Nursery.Areas.Admin.Pages.SystemConfigration.DeleteFeedBackModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Delete"]  @sharedResource["Customers Messages"]
                            <a asp-page="UsersFeedBacks" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="text-danger DeleteValidation ">@Html.ValidationMessage("DeleteValidation") </div>

                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">
                            <div class="row">
                                <div class="col-md-12 col-lg-6 mt-4">
                                    <h4> @sharedResource["Details"] </h4>
                                    <hr />
                                   <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Full Name"]  </dt>
                                        <dd class="col-sm-8"> @Model.Msg.FullName</dd>
                                    </dl>
                                </div>
                                    
                                  <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Mobile"] </dt>
                                        <dd class="col-sm-8"> @Model.Msg.Mobile</dd>
                                    </dl>
                                </div>
                                    
                                   
                                  <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Email"]  </dt>
                                        <dd class="col-sm-8"> @Model.Msg.Email</dd>
                                    </dl>
                                </div>

                                 <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Message Date"]  </dt>
                                        <dd class="col-sm-8"> @Model.Msg.TransDate</dd>
                                    </dl>
                                </div>
                                    
                                        <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">@sharedResource["Message"]  </dt>
                                        <dd class="col-sm-8"> @Model.Msg.Msg</dd>
                                    </dl>
                                </div>


                                </div>
                           
                                <form method="post">
                                    <div class="invers">
                                        @(Html.DevExtreme().Button()
                    .ID("button")
                    .Text(sharedResource["Delete"])
                    .Type(ButtonType.Danger)
                    .UseSubmitBehavior(true)

                    )
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
