@page
@model Nursery.Areas.NurseryAccount.Pages.Subscriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Details"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div>
                            <h4>@sharedResource["Details"] </h4>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @sharedResource["Nursery"]
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Subscriptions.Nursery.NurseryTlAr)
                                </dd>
                                <dt class="col-sm-2">
                                    @sharedResource["Plan"]
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Subscriptions.Plan.PlanTlAr)
                                </dd>
                                <dt class="col-sm-2">
                                    @sharedResource["StartDate"]
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Subscriptions.StartDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @sharedResource["EndDate"]
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Subscriptions.EndDate)
                                </dd>
                                <dt class="col-sm-2">
                                    @sharedResource["Price"]
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Subscriptions.Price)
                                </dd>

                            </dl>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>